@model IEnumerable<Test.Models.Department>
<!DOCTYPE html>

<html>
<head>
    <style>
        .margin {
            margin: 10px 10px 0 10px;
        }
    </style>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Index</title>
</head>
<body>
    <div class="margin">
        <h1>Index</h1>
        

        <div>
            <a href="@Url.Action("onea", "Home")"><button class="btn btn-default">Question 1a</button></a>
            <a href="@Url.Action("oneb", "Home")"><button class="btn btn-default">Question 1b</button></a>
        </div>
    </div>
</body>
</html>
