@model List<Test.Models.EmployeeViewModel>

<!DOCTYPE html>
<html>
<head>
    <style>
        .margin{
            margin:10px 10px 0 10px;
        }
    </style>
    <meta charset="utf-8" name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Youngest and Eldest Employees</title>
</head>
<body>
    <div class="margin">
        <h2>Youngest and Eldest Employees</h2>

        <table class="table table-bordered">
            <tr>
                <th>Employee Name</th>
                <th>Designation</th>
                <th>Age</th>
            </tr>
            @foreach (var e in Model)
            {
                <tr>
                    <td>@e.Name</td>
                    <td>@e.Designation</td>
                    <td>@e.Age</td>
                </tr>
            }
        </table>
        <a href="/Home/oneb" class="btn btn-default">Back</a>
    </div>
</body>
</html>
